*{
  box-sizing: border-box;
}
body{
background-color: cornsilk;
}
.ABA{
  background-color: rgb(161, 161, 156);
   width: 960px;
   height: 700px;
   margin: auto;
   display: grid;
  grid-template-rows: 15% auto;
}
