*{
    box-sizing: border-box;
}

div{
    background-color: rgb(134, 134, 134);
    border: 1px solid ;
}
.ABA{
    position: absolute;
    background-color: white;
    width: 480px;
}
.ABA p{
    text-align: center;
    font-weight: bolder;
    
    padding-top: 2vh;
}
