.g2{
    display: grid;
    grid-template-columns: 20% 80%;
}
.g3{
    display: grid;
    grid-template-rows: 25% auto 25%;
}
.g4{
    display: grid;
    grid-template-columns: 50% 50%;
}
.g5{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}







.a{
    background-color: rgb(6, 41, 68);
    /* width: 960px;
    height: 100px; */
    border: 1px solid black;
}
.b{
    background-color: rosybrown;
    /* width: 200px;
    height: 600px; */
    border: 1px solid black;
    text-align: center;

}

.c{
    background-color: rgb(153, 152, 76);
    /* width: 380px;
    height: 200px; */
    border: 1px solid black;
    text-align: center;
}
.d{
    background-color: rgb(222, 235, 222);
    /* width: 380px;
    height: 200px; */
    border: 1px solid black;
    text-align: center;
}

.e{
    background-color: rgb(238, 171, 145);
    /* width: 190px;
    height: 250px; */
    border: 1px solid black;
    text-align: center;
}
.f{
    background-color: rgb(189, 158, 112);
/* width: 190px;
height: 250px; */
border: 1px solid black;
text-align: center;
}
.g{
    background-color: rgb(198, 107, 235);
    /* width: 190px;
    height: 250px; */
    border: 1px solid black;
    text-align: center;
}
.h{
    background-color: rgb(209, 236, 110);
    /* width: 190px;
    height: 250px; */
    border: 1px solid black;
    text-align: center;
}
.i{
    background-color: rgb(207, 121, 63);
    /* width: 760px;
    height: 150px; */
    /* position: relative;
    bottom: 150px;
    left: 200px; */
    border: 1px solid black;
    text-align: center;
  
}
div p{
    text-align: center;
}