@media (max-width: 600px){

    *{
        box-sizing: border-box;
    }
    body ,html{
        width: 600px;
        height: 750px;

    }
    main{
        width: 600px;
        height: 750px;

    }
.ABA{
    background-color: rgb(95, 156, 55);
    width: 500px;
    height: 604px;
    margin: auto;
    display: grid;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1fr 1fr  ;
}
.g2{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 35% auto;
}
.g3{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-rows: 60% auto;
}
.g4{
    display: grid;
    grid-template-columns: 1fr;


}
.g5{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    height: 200px;

}
.a{
    background-color: rgb(37, 51, 37);
    /* width: 500px;
    height: 125px; */
    border: 1px solid black;
}
.b{
    background-color: rgb(75, 165, 180);
    /* width: 500px;
    height: 125px; */
    border: 1px solid black;
    text-align: center;

}

.c{
    background-color: rgb(11, 29, 11);
    /* width: 500px;
    height: 125px; */
    border: 1px solid black;
    text-align: center;
}
.d{
    background-color: rgb(35, 46, 9);
    /* width:  500px;
    height: 125px; */
    border: 1px solid black;
    text-align: center;
}

.e{
    background-color: rgb(42, 49, 148);
    /* width: 250px;
    height: 260px; */
    border: 1px solid black;
    text-align: center;
}
.f{
    background-color: rgb(163, 170, 163);
    /* width: 250px;
height: 260px; */
border: 1px solid black;
text-align: center;
}
.g{
    background-color: rgb(211, 155, 52);
    /* width: 250px;
    height: 260px; */
    border: 1px solid black;
    text-align: center;
}
.h{
    background-color: rgb(173, 85, 110);
    /* width: 250px;
    height: 260px; */
    border: 1px solid black;
    text-align: center;
}
.i{
    background-color: rgb(8, 19, 8);
  
    height: 80px; 
    border: 1px solid black;
    text-align: center;

  
}
div p{
    text-align: center;
}


}

@media only screen and (max-width: 750px) and (min-width: 600px)  {



    *{
        box-sizing: border-box;
    }
    body ,html{
        width: 600px;
        height: 750px;

    }
    main{
        width: 690px;
        height: 750px;

    }
.ABA{
 
    width: 660px;
    height: 604px;
    margin: auto;
    display: grid;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1fr 1fr  ;
}
.g2{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 23% auto;
	background-color: darkorchid;
}
.g3{
    display: grid;
    /* grid-template-rows: 1fr; */
    grid-template-rows: 44% auto;
	background-color: cornflowerblue;
}
.g4{
    display: grid;
    grid-template-columns: 1fr;
background-color: aquamarine;

}
.g5{
    display: grid;
    /* grid-template-columns: 50% 50%; */
    grid-template-rows: 100%;
    height: 242px;
	background-color: chartreuse;

}
.a{
    background-color:chartreuse;
    /* width: 500px;
    height: 125px; */
    border: 1px solid black;
}
.b{
    background-color:darkgray;
    /* width: 500px;
    height: 125px; */
    border: 1px solid black;
    text-align: center;

}

.c{
    background-color:darkred;
    /* width: 500px;
    height: 125px; */
    border: 1px solid black;
    text-align: center;
}
.d{
    background-color:deeppink;
    /* width:  500px;
    height: 125px; */
    border: 1px solid black;
    text-align: center;
}

.e{
    background-color:gold;
    /* width: 250px;
    height: 260px; */
    border: 1px solid black;
    text-align: center;
}
.f{
    background-color:orangered;
    /* width: 250px;
height: 260px; */
border: 1px solid black;
text-align: center;
}
.g{
    background-color:plum;
    /* width: 250px;
    height: 260px; */
    border: 1px solid black;
    text-align: center;
}
.h{
    background-color:darkgreen;
    /* width: 250px;
    height: 260px; */
    border: 1px solid black;
    text-align: center;
}
.i{
    background-color: rgb(111, 170, 111);
  
    height: 80px; 
    border: 1px solid black;
    text-align: center;

  
}
div p{
    text-align: center;
}
}